services:

  db:
    image: postgres:16
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    healthcheck:
      test: pg_isready -q -h db -p 5432 -U postgres
      interval: 5s
      timeout: 30s
      retries: 5

  migration:
    image: "gcr.io/wriveted-api/wriveted-api:${TAG-latest}"
    entrypoint: /bin/sh
    command: /app/scripts/run-migrations.sh
    depends_on:
      - db
    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:password@db/postgres
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_SERVER=db/
      - SECRET_KEY=CHrUJmNw1haKVSorf3ooW-D6eRooePyo-V8II--We78
      - SENDGRID_API_KEY=unused-key-set-for-testing
      - SHOPIFY_HMAC_SECRET=unused-key-for-testing
      - SLACK_BOT_TOKEN=unused-key-for-testing
      - WRIVETED_INTERNAL_API=http://internal:8888
      - OPENAI_API_KEY=unused-test-key-for-testing
  api:
    image: "gcr.io/wriveted-api/wriveted-api:${TAG-latest}"
    entrypoint: uvicorn "app.main:app" --host 0.0.0.0 --reload
    depends_on:
      - db
    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:password@db/postgres
      - SQLALCHEMY_ASYNC_URI=postgresql+asyncpg://postgres:password@db/postgres
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_SERVER=db/
      - SECRET_KEY=CHrUJmNw1haKVSorf3ooW-D6eRooePyo-V8II--We78
      - SENDGRID_API_KEY=unused-key-set-for-testing
      - SHOPIFY_HMAC_SECRET=unused-key-for-testing
      - METABASE_SECRET_KEY=unused-key-for-testing
      - SLACK_BOT_TOKEN=unused-key-for-testing
      - UVICORN_PORT=8000
      - WRIVETED_INTERNAL_API=http://internal:8888
      - SQLALCHEMY_WARN_20=true
    ports:
      - "8000"
    volumes:
      - ./app:/app/app:rw
      - /etc/localtime:/etc/localtime:ro
    build:
      context: ./
      dockerfile: Dockerfile
      cache_from:
        - "asia.gcr.io/wriveted-api/wriveted-api/wriveted-api-development:${TAG-latest}"
        - "asia.gcr.io/wriveted-api/wriveted-api/wriveted-api:${TAG-latest}"
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}

  internal:
    image: "gcr.io/wriveted-api/wriveted-api:${TAG-latest}"
    entrypoint: gunicorn --workers=1 --worker-class=uvicorn.workers.UvicornWorker --threads=1 --timeout=0 app.internal_api:internal_app
    depends_on:
      - db
    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:password@db/postgres
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_SERVER=db/
      - SECRET_KEY=CHrUJmNw1haKVSorf3ooW-D6eRooePyo-V8II--We78
      - SENDGRID_API_KEY=unused-key-set-for-testing
      - SHOPIFY_HMAC_SECRET=unused-key-for-testing
      - SLACK_BOT_TOKEN=unused-key-for-testing
      - PORT=8888
      - WRIVETED_INTERNAL_API=http://internal:8888
      - SQLALCHEMY_WARN_20=true
    ports:
      - "8888"
    volumes:
      - ./app:/app/app:rw
      - /etc/localtime:/etc/localtime:ro
    build:
      context: ./
      dockerfile: Dockerfile
      cache_from:
        - "asia.gcr.io/wriveted-api/wriveted-api/wriveted-api-development:${TAG-latest}"
        - "asia.gcr.io/wriveted-api/wriveted-api/wriveted-api:${TAG-latest}"
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}

volumes:
  app-db-data:
