steps:
  - name: gcr.io/cloud-builders/docker
    args:
      - build
      - "--build-arg"
      - "BUILDKIT_INLINE_CACHE=1"
      - "--cache-from"
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:pr-$_PR_NUMBER"
      - "--cache-from"
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:latest"
      - "-t"
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA"
      - "-t"
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:pr-$_PR_NUMBER"
      - "-t"
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:latest"
      - .
      - "-f"
      - Dockerfile
    id: Build
    env:
      - "DOCKER_BUILDKIT=1"
  - name: gcr.io/cloud-builders/docker
    args:
      - push
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA"
    id: Push-commitSHA
  - name: gcr.io/cloud-builders/docker
    args:
      - push
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:latest"
    id: Push-latest
  - name: gcr.io/cloud-builders/docker
    args:
      - push
      - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:pr-$_PR_NUMBER"
    id: PushPRTag
  - name: "gcr.io/cloud-builders/docker"
    id: RunPrMigration
    entrypoint: bash
    args:
      - -c
      - |
        docker run -i \
        --network=cloudbuild \
        -e POSTGRESQL_ROOT_PASSWORD=$$POSTGRESQL_ROOT_PASSWORD \
        -e PR_NUMBER=$_PR_NUMBER \
        -e POSTGRESQL_APP_USER=cloudrun \
        --entrypoint bash \
        --volume $(pwd)/.cloudbuild/scripts/:/scripts/ \
        $_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA \
        -c '/scripts/database_migrate_pr.sh'
    secretEnv: ["POSTGRESQL_ROOT_PASSWORD"]
  - name: "gcr.io/google.com/cloudsdktool/cloud-sdk:slim"
    args:
      - run
      - services
      - update
      - $_SERVICE_NAME
      - "--platform=managed"
      - "--port=8000"
      - "--image=$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA"
      - "--region=$_DEPLOY_REGION"
      - "--tag=pr-$_PR_NUMBER"
      - "--concurrency=25"
      - "--max-instances=3"
      - >-
        --set-env-vars=
        POSTGRESQL_DATABASE_SOCKET_PATH=/cloudsql,
        POSTGRESQL_USER=cloudrun,
        POSTGRESQL_DATABASE=wriveted_pr_$_PR_NUMBER,
        GCP_CLOUD_SQL_INSTANCE_ID=wriveted-development,
        LOG_AS_JSON=True,
        GCP_CLOUD_TASKS_NAME=background-tasks,
        WRIVETED_INTERNAL_API=https://wriveted-api-development-internal-lg5ntws4da-ts.a.run.app,
        NIELSEN_API_URL=https://ws.nielsenbookdataonline.com/BDOLRest/RESTwebServices/BDOLrequest,
        NIELSEN_CLIENT_ID=WrivetedWebServices
      - >-
        --set-secrets=        
        POSTGRESQL_PASSWORD=wriveted-api-cloud-sql-password:latest,
        SECRET_KEY=wriveted-api-secret-key:latest,
        SENDGRID_API_KEY=sendgrid-api-key:latest,
        SHOPIFY_HMAC_SECRET=shopify-hmac-secret:latest,
        STRIPE_SECRET_KEY=stripe-test-secret-key:latest,
        STRIPE_WEBHOOK_SECRET=stripe-test-webhook-secret:latest,
        SLACK_BOT_TOKEN=slack-wriveted-api-bot-token:latest,
        NIELSEN_PASSWORD=wriveted-nielsen-api-secret:latest,
        OPENAI_API_KEY=openai-api-key:latest
      - >-
        --labels=managed-by=gcp-cloud-build-deploy-cloud-run,commit-sha=$COMMIT_SHA,gcb-build-id=$BUILD_ID,gcb-trigger-id=$_TRIGGER_ID,$_LABELS
    id: Deploy
    entrypoint: gcloud
  - name: "gcr.io/google.com/cloudsdktool/cloud-sdk:slim"
    args:
      - run
      - services
      - update
      - "$_SERVICE_NAME-internal"
      - "--platform=managed"
      - "--port=8000"
      - "--image=$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA"
      - "--region=$_DEPLOY_REGION"
      - "--tag=pr-$_PR_NUMBER"
      - "--concurrency=25"
      - "--max-instances=3"
      - "--args=app.internal_api:internal_app"
      - >-
        --set-env-vars=
        POSTGRESQL_DATABASE_SOCKET_PATH=/cloudsql,
        POSTGRESQL_USER=cloudrun,
        POSTGRESQL_DATABASE=wriveted_pr_$_PR_NUMBER,
        GCP_CLOUD_SQL_INSTANCE_ID=wriveted-development,
        LOG_AS_JSON=True,
        GCP_CLOUD_TASKS_NAME=background-tasks,
        WRIVETED_INTERNAL_API=https://wriveted-api-development-internal-lg5ntws4da-ts.a.run.app,
        NIELSEN_API_URL=https://ws.nielsenbookdataonline.com/BDOLRest/RESTwebServices/BDOLrequest,
        NIELSEN_CLIENT_ID=WrivetedWebServices
      - >-
        --set-secrets=
        POSTGRESQL_PASSWORD=wriveted-api-cloud-sql-password:latest,
        SECRET_KEY=wriveted-api-secret-key:latest,
        SENDGRID_API_KEY=sendgrid-api-key:latest,
        SHOPIFY_HMAC_SECRET=shopify-hmac-secret:latest,
        STRIPE_SECRET_KEY=stripe-test-secret-key:latest,
        STRIPE_WEBHOOK_SECRET=stripe-test-webhook-secret:latest,
        SLACK_BOT_TOKEN=slack-wriveted-api-bot-token:latest,
        NIELSEN_PASSWORD=wriveted-nielsen-api-secret:latest,
        OPENAI_API_KEY=openai-api-key:latest
      - >-
        --labels=managed-by=gcp-cloud-build-deploy-cloud-run,commit-sha=$COMMIT_SHA,gcb-build-id=$BUILD_ID,gcb-trigger-id=$_TRIGGER_ID,$_LABELS
    id: Deploy-internal-api
    entrypoint: gcloud
  - name: "gcr.io/google.com/cloudsdktool/cloud-sdk:slim"
    entrypoint: "bash"
    args: ["-c", "./.cloudbuild/scripts/slack-send.sh $_PR_NUMBER"]
    secretEnv: ["SLACK_WEBHOOK"]
    id: SlackNotification
availableSecrets:
  secretManager:
    - versionName: projects/wriveted-api/secrets/wriveted-api-cloud-sql-root-password/versions/latest
      env: "POSTGRESQL_ROOT_PASSWORD"
    - versionName: projects/wriveted-api/secrets/cloud-build-slack-app-webhook/versions/latest
      env: "SLACK_WEBHOOK"
images:
  - "$_GCR_HOSTNAME/$PROJECT_ID/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA"
options:
  substitutionOption: ALLOW_LOOSE
substitutions:
  _LABELS: gcb-trigger-id=9f282197-7608-44c1-8669-e90743828fb1
  _TRIGGER_ID: 9f282197-7608-44c1-8669-e90743828fb1
  _GCR_HOSTNAME: asia.gcr.io
  _PLATFORM: managed
  _SERVICE_NAME: wriveted-api-development
  _DEPLOY_REGION: australia-southeast1
tags:
  - gcp-cloud-build-deploy-cloud-run
  - gcp-cloud-build-deploy-cloud-run-managed
  - wriveted-api-development
