name: CI
on:
  push:
  pull_request:
    types: [opened]
jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-hadolint@v1
        with:
          filter_mode: file

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-shellcheck@v1
        with:
          filter_mode: file

  lint:
    name: Code Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - uses: actions/setup-python@v6
        id: python
        with:
          python-version: "3.13"
          cache: "poetry"
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Check formatting with Ruff
        run: poetry run ruff format --check .
      - name: Lint with Ruff
        run: poetry run ruff check .

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GCR
        uses: docker/login-action@v3
        with:
          registry: asia.gcr.io
          username: _json_key
          password: ${{ secrets.GCR_ACCESS }}
      - name: Run integration tests
        run: ./scripts/integration-tests.sh
        env:
          PR_NUMBER: ${{ github.event.number }}

  isolated-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GCR
        uses: docker/login-action@v3
        with:
          registry: asia.gcr.io
          username: _json_key
          password: ${{ secrets.GCR_ACCESS }}
      - name: Run isolated tests
        run: ./scripts/integration-tests.sh --run-isolated-tests
        env:
          PR_NUMBER: ${{ github.event.number }}

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Git Checkout
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - uses: actions/setup-python@v6
        id: python
        with:
          python-version: "3.13"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: Run tests
        run: |
          echo "Setup Test Environment Variables"
          export SECRET_KEY=CHrUJmNw1haKVSorf3ooW-D6eRooePyo-V8II--We78
          export POSTGRESQL_PASSWORD=unused-password-set-for-unit-testing
          export SENDGRID_API_KEY=unused-key-set-for-testing
          export SHOPIFY_HMAC_SECRET=unused-key-set-for-testing
          export SLACK_BOT_TOKEN=unused-key-for-testing
          poetry run pytest app/tests/unit
